.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 0 var(--size20);
  height: var(--size80);
  font-size: var(--size16);
  font-weight: 600;
}

.inputContainer label {
  margin-left: var(--size4);
}

.inputField {
  border: 1px solid black;
  border-radius: var(--size4);
  height: var(--size40);
  width: var(--size192);
  font-size: var(--size14);
  text-indent: var(--size8);
}

.inputField.large {
  width: var(--size424);
}

.inputField.small {
  width: var(--size112);
}

.inputField[type="number"]::-webkit-outer-spin-button,
.inputField[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField[type="number"] {
  -moz-appearance: textfield;
}

.inputError {
  border: 2px solid var(--red);
}
