.wrapper {
  width: 100%;
  height: var(--size112);
  z-index: -10000;
}

.backgroundBanner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  position: absolute;
  background-image: url("./assets/BannerMobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--size80);
  filter: drop-shadow(0 var(--size4) var(--size4) rgba(0, 0, 0, var(--size4)));
}

.leftHeader {
  padding-left: var(--size14);
  margin-top: var(--size40);
  display: flex;
  justify-content: flex-start;
}

.logoContainer {
  width: var(--size72);
  height: var(--size72);
}

/* .logoContainer svg {
  width: 100%;
  height: 100%;
} */

.titleContainer {
  margin-top: var(--size6);
  padding-left: var(--size10);
  width: var(--size128);
  height: var(--size64);
}

.desktopTitle {
  display: none;
}

.titleContainer h2 {
  color: var(--darkBlue);
  font-weight: 700;
  font-style: normal;
  font-size: var(--size24);
  line-height: var(--size32);
  letter-spacing: -0.02rem;
}

.titleContainer p {
  width: var(--size112);
  height: var(--size24);
  color: var(--black);
  font-weight: normal;
  font-size: var(--size10);
  line-height: var(--size12);
  letter-spacing: -0.02rem;
}

.rightHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav {
  margin: var(--size24) var(--size24) var(--size32);
}

.desktopNav {
  display: none;
}

.buttonContainer button {
  margin: 21px 17px 20px 20px;
  font-weight: 700;
}

@media screen and (min-width: 68.75rem) {
  .wrapper {
    height: var(--size128);
  }

  .backgroundBanner {
    background-image: url(./assets/Banner.svg);
    background-size: 100%;
    filter: none;
  }

  .leftHeader {
    margin-left: var(--size64);
    margin-top: var(--size32);
  }

  .logoContainer {
    max-width: 75px;
    max-height: 75px;
  }

  .titleContainer {
    width: var(--size384);
    margin-top: var(--size16);
    margin-left: var(--size4);
  }

  .mobileTitle {
    display: none;
  }

  .desktopTitle {
    display: flex;
  }

  .titleContainer p {
    width: var(--size512);
    height: var(--size24);
    line-height: var(--size16);
    font-size: var(--size14);
    margin-top: var(--size6);
  }

  .rightHeader {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .nav {
    margin-top: var(--size40);
  }

  .mobileNav {
    display: none;
  }

  .desktopNav {
    display: flex;
  }

  .nav li {
    font-style: normal;
    font-weight: 500;
    font-size: var(--size14);
    height: var(--size24);
    text-align: center;
    line-height: var(--size12);
    padding: var(--size8) var(--size16) var(--size4) var(--size14);
    cursor: pointer;
    list-style: none;
  }

  .nav a {
    text-decoration: none;
    color: var(--darkBlue);
  }

  .tab {
    background-color: #ffffff;
    width: var(--size80);
    height: var(--size24);
    border-radius: 0.19rem 0.19rem 0rem 0rem;
    box-shadow: 0rem -0.125rem 0.25rem rgba(48, 52, 99, 0.25);
  }

  .button {
    width: var(--size96);
    height: var(--size32);
    margin-top: var(--size20);
    margin-right: var(--size16);
  }

  .rightHeader p {
    font-size: var(--size16);
    line-height: var(--size20);
  }
}
