.response {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.message {
  text-align: left;
  line-height: var(--size24);
  max-width: var(--size512);
}

.message p {
  margin-bottom: var(--size8);
}

.boldText {
  font-weight: bold;
  color: var(--darkBlue);
}

.title {
  color: var(--darkBlue);
  height: var(--size32);
  font-weight: bold;
  font-size: var(--size32);
  margin-bottom: var(--size16);
}
