networks:
  stack:
    name: police-data-trust-net
    driver: bridge
services:
  db:
    image: neo4j:5.23-community
    networks:
      - stack
    env_file:
      - ".env"
    volumes:
      - neo4j:/data
      - neo4j_logs:/logs
      - neo4j_import:/var/lib/neo4j/import
      - neo4j_plugins:/plugins
    ports:
      - "7474:7474"   # HTTP port for Neo4j Browser
      - "7687:7687"   # Bolt port for database access
    environment:
      - NEO4J_AUTH=neo4j/${GRAPH_PASSWORD:-password}
  test-neo4j:
    image: neo4j:5.23-community
    networks:
      - stack
    profiles:
      - test
    env_file:
      - ".env"
    environment:
      - NEO4J_AUTH=neo4j/test_pwd
    ports:
      - "7475:7474"
      - "7688:7687"
  web:
    build:
      context: ./frontend
      args:
        NPDI_WEB_PORT: ${NPDI_WEB_PORT:-3000}
    volumes:
      - ./frontend:/app
      # Prevents the host node_modules from clobbering the image's
      - /app/node_modules
    networks:
      - stack
    environment:
      NEXT_PUBLIC_API_MODE: real
      NEXT_PUBLIC_API_BASE_URL: http://localhost:${NPDI_API_PORT:-5001}/api/v1
    ports:
      - ${NPDI_WEB_PORT:-3000}:${NPDI_WEB_PORT:-3000}
  api:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      args:
        NPDI_API_PORT: ${NPDI_API_PORT:-5001}
    volumes:
      - .:/app
      - data_uploads:/data/uploads
    networks:
      - stack
    env_file:
      - ".env"
    depends_on:
      - db
    environment:
      PYTHONPATH: app/
      FLASK_ENV: ${FLASK_ENV:-development}
      NEO4J_URI: bolt://db:7687
      NEO4J_USERNAME: ${GRAPH_USER:-neo4j}
      NEO4J_PASSWORD: ${GRAPH_PASSWORD:-password}
      MIXPANEL_TOKEN: ${MIXPANEL_TOKEN:-notset}
      WAIT_HOSTS: db:7687
    ports:
      - ${NPDI_API_PORT:-5001}:${NPDI_API_PORT:-5001}
volumes:
  neo4j: {}
  neo4j_logs: {}
  neo4j_import: {}
  neo4j_plugins: {}
  data_uploads: {}
