version: "3"
services:
  db:
    image: postgres:13.2 #AWS RDS latest version
    env_file:
      - ".env"
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_PORT:-5432}:${POSTGRES_PORT:-5432}
  web:
    build:
      context: ./frontend
      args:
        PDT_WEB_PORT: ${PDT_WEB_PORT:-3000}
    volumes:
      - ./frontend:/app
      # Prevents the host node_modules from clobbering the image's
      - /app/node_modules
    environment:
      NEXT_PUBLIC_API_MODE: real
      NEXT_PUBLIC_API_BASE_URL: http://localhost:${PDT_API_PORT:-5000}/api/v1
    ports:
      - ${PDT_WEB_PORT:-3000}:${PDT_WEB_PORT:-3000}
  api:
    build:
      context: .
      dockerfile: ./backend/Dockerfile.cloud
      args:
        PDT_API_PORT: ${PDT_API_PORT:-5000}
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      PYTHONPATH: app/
      POSTGRES_HOST: db
      FLASK_ENV: ${FLASK_ENV:-development}
      WAIT_HOSTS: db:${POSTGRES_PORT:-5432}
      MIXPANEL_TOKEN: ${MIXPANEL_TOKEN:-notset}
    ports:
      - ${PDT_API_PORT:-5000}:${PDT_API_PORT:-5000}
  scraper-cache:
    image: redis/redis-stack-server
    ports:
      - "6379:6379"

volumes:
  postgres: {}
