[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-serialize = "*"

[dev-packages]
python-dotenv = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"
