.tooltipContainer {
  display: inline-block;
  height: var(--size16);
  width: var(--size16);
}

.tooltipIcon {
  font-size: var(--size16);
  color: var(--darkBlue);
  vertical-align: super;
}

/* Needs .tooltipContainer to override default "react-tooltip" styles */
.tooltipContainer .tooltip {
  background-color: var(--white);
  width: var(--size256);
  height: var(--size112);
  border: 0;
  border-radius: var(--size4);
  box-shadow: 0 0 24px 5px rgba(0, 0, 0, 0.35);
  margin: 0;
  padding: var(--size8);

  font-size: var(--size12);
  font-weight: 400;
  color: black;
  text-align: left;
}

/* Needs .tooltipContainer to override default "react-tooltip" styles */
.tooltipContainer .tooltip p {
  display: inline-block;
  margin: var(--size4);
}
