.profileWrapper {
  width: 100%;
  /* height: var(--size112); */
  z-index: -10000;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.rightContent {
  display: inline-block;
  text-align: left;
}
