.wrapper {
  width: 100%;
  height: var(--size112);
}

.backgroundBanner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 100%;
  position: absolute;
  background-color: var(--lightBlue);
  background-repeat: no-repeat;
  background-size: cover;
  height: var(--size80);
  filter: drop-shadow(0 var(--size4) var(--size4) rgba(0, 0, 0, var(--size4)));
}

.leftHeader {
  display: flex;
  justify-content: flex-start;
}

.leftHeader img {
  margin: var(--size16) 0 0 var(--size36);
}

.titleContainer {
  display: none;
}

.selected {
  text-decoration: underline;
}

.backgroundBanner li:last-child {
  display: none;
}

@media screen and (min-width: 32em) {
  .wrapper {
    height: var(--size128);
  }

  .backgroundBanner {
    background-image: url("/Banner.svg");
    filter: none;
  }

  .leftHeader {
    margin-left: var(--size64);
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    width: var(--size424);
    margin-top: var(--size48);
    margin-left: var(--size4);
  }

  .titleContainer h2 {
    color: var(--darkBlue);
    font-weight: 700;
    font-style: normal;
    font-size: var(--size28);
    line-height: var(--size32);
    letter-spacing: -0.02rem;
  }

  .titleContainer p {
    width: var(--size512);
    height: var(--size24);
    color: var(--black);
    line-height: var(--size16);
    letter-spacing: -0.02rem;
    font-size: var(--size14);
    font-weight: normal;
    margin-top: var(--size6);
  }

  .backgroundBanner nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .backgroundBanner nav div {
    display: none;
  }

  .backgroundBanner ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-top: var(--size48);
  }

  .backgroundBanner a {
    background-color: transparent;
    text-decoration: none;
    color: var(--darkBlue);
    font-weight: 500;
  }

  .backgroundBanner li {
    font-style: normal;
    font-weight: 500;
    font-size: var(--size14);
    height: var(--size14);
    text-align: center;
    line-height: var(--size12);
    padding: var(--size16);
    cursor: pointer;
    white-space: nowrap;
  }

  .selected {
    text-decoration: none;
  }

  .selected a {
    font-weight: 700;
    background-color: white;
    padding: var(--size6) var(--size14) var(--size4) var(--size14);
    border-radius: var(--size4) var(--size4) 0 0;
    box-shadow: 0px -2px 4px rgb(48 52 99 / 25%);
  }
}
