.container {
  display: flex;
  flex-direction: row;
}

.invite_user {
  width: auto;
  align-items: center;
  justify-content: center;
  margin: var(--size16) auto;
  height: var(--size40);
  border: none;
  border-radius: var(--size4);
  background-color: var(--darkBlue);
  color: white;
  font-size: var(--size16);
  font-weight: 500;
  cursor: pointer;
  padding: var(--size14);
}

.invite_user:focus,
.invite_user:hover {
  -webkit-box-shadow: var(--insetShadow);
  box-shadow: var(--insetShadow);
}
