.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-block-start: 6rem;
  padding-inline: 1rem;
  height: 100%;
  font-family: var(--font-inter);
}

.heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-block-end: 1rem;
  letter-spacing: -0.3px;
  margin-block-end: 4.5rem;
}

.txt {
  padding-top: 5rem;
  font-size: 1rem;
}

.upToDateNotification {
  display: flex;
  gap: 0.5rem;
  margin-block-end: 0.8rem;
  font-size: 0.625rem;
  align-items: center;
}

.upToDateIcon {
  border-radius: 100%;
  background-color: #A9FFA2;
  border: 1px solid #7EA8B7;
  aspect-ratio: 1;
  width: 8px;
}