.sidebar {
  width: 200px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 200px; /* Align the menu to the left by 10px */
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.menu_space {
  height: 20px;
}
