.name {
  margin: 0;
  font-family: Inter, Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000;
}

.memberItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;
  width: 216px;
  min-height: 216px;
  border-radius: 8px;
}

.memberItem p {
  margin: 0;
  font-family: Inter, Roboto, sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000;
}

.membersGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin-top: 24px;
}

.viewButton {
  width: 160px;
  height: 30px;
  padding: 4px 10px !important;
  border-radius: 4px !important;
  font-family: Roboto, sans-serif !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  letter-spacing: 0.46px !important;
  text-transform: uppercase !important;
}

@media screen and (max-width: 745px) {
  .memberItem {
    width: 100%;
    max-width: 320px;
  }

  .viewButton {
    width: 100%;
  }
}
