.container {
  display: flex;
  gap: 54px;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bio {
  margin-top: 32px;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.followerStats {
  margin-top: 16px;
}

.editIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.editButton {
  position: absolute !important;
  top: 24px;
  right: 24px;
  min-width: 178px !important;
  min-height: 30px !important;
  padding: 4px 5px !important;
  border-radius: 4px !important;
  font-family: Roboto, sans-serif !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  letter-spacing: 0.46px !important;
  text-transform: uppercase !important;
}

.name {
  font-family: Inter, Roboto, sans-serif !important;
  font-size: 24px !important;
  line-height: 29px !important;
  font-weight: 600 !important;
  color: #000 !important;
}

.metaText {
  font-family: Inter, Roboto, sans-serif !important;
  font-size: 20px !important;
  line-height: 24px !important;
  font-weight: 400 !important;
  color: #000 !important;
}

.bioText {
  margin: 0;
  font-family: Inter, Roboto, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

@media screen and (max-width: 430px) {
  .container {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  .info {
    align-items: flex-start;
  }

  .meta {
    align-items: flex-start;
  }

  .editButton,
  .editIcon {
    position: static !important;
    align-self: flex-end;
  }
}
