.dialogOverlay {
  position: fixed;
  inset: 0px;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: opacity 100ms ease-in-out;
}

.dialogOverlay[data-state="open"] {
  animation: fadeIn 100ms ease-in-out forwards;
}

.dialogOverlay[data-state="closed"] {
  animation: fadeOut 100ms ease-in-out;
}

.dialogContent {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  display: grid;
  width: 100%;
  max-width: 32rem;
  transform: translate(-50%, -50%);
  gap: var(--size16);
  background: var(--white);
  padding: var(--size24);
  border: 3px solid var(--darkBlue);
  border-radius: var(--size4);
  box-shadow: var(--boxShadow);
  transition-duration: 100ms;
}

.dialogContent[data-state="open"] {
  animation: fadeIn 100ms ease-in-out forwards;
}

.dialogContent[data-state="close"] {
  animation: fadeOut 100ms ease-in-out forwards;
}

.dialogClose {
  position: absolute;
  right: var(--size16);
  top: var(--size16);
  border: none;
  background-color: inherit;
  transition: scale 100ms ease-in-out;
}

.dialogClose:hover {
  cursor: pointer;
  scale: 1.2;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--size28);
  font-weight: 600;
  line-height: none;
  letter-spacing: -0.025em;
}

.description {
  font-weight: var(--size16);
  opacity: 0.7;
}

/* 400px */
@media screen and (max-width: 25em) {
  .header {
    text-align: left;
  }

  .footer {
    flex-direction: row;
    justify-content: end;
    margin-left: var(--size8);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
