.wrapper {
  width: 100%;
  height: 6.94rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.backgroundBanner {
  width: 100%;
  position: absolute;
  z-index: -10000;
  background-image: url("./assets/BannerMobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 4.74rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.desktop {
  display: none;
}

.logoTitle {
  padding-left: 13px;
  margin-top: 36px;
  display: flex;
  justify-content: flex-start;
}

.titleContainer {
  margin-top: 8px;
  padding-left: 0.625rem;
  width: 141px;
  height: 62px;
}

.titleContainer h2 {
  color: var(--darkBlue);
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 33.89px;
  letter-spacing: -0.3px;
}

.titleContainer p {
  width: 120px;
  height: 26px;
  color: var(--black);
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.3px;
  padding-top: 3px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav .mobile {
  margin-top: 27px;
  margin-right: 27px;
  margin-bottom: 36px;
}

.nav li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  height: 25px;
  color: var(--darkBlue);
  text-align: center;
  line-height: 12px;
  padding: 8px 15px 5px 14px;
  cursor: pointer;
}

.tab {
  background-color: #ffffff;
  width: 75px;
  height: 25px;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0px -2px 4px rgba(48, 52, 99, 0.25);
}

.donate {
  margin-right: 14px;
  width: 75px;
  height: 26.25px;
  background-color: var(--darkBlue);
  border: 2px solid var(--darkBlue);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.donate p {
  color: #ffffff;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.3px;
}

/* css to apply on laptop size */

@media screen and (min-width: 1100px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 145px;
  }

  .backgroundBanner {
    background-image: url("./assets/Banner.svg");
    filter: none;
  }

  .logoDesktop {
    display: flex;
  }

  .shortTitle {
    display: none;
  }

  .fullTitle {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .nav {
    display: flex;
  }
}
