.container {
  width: 100%;
  height: 124px;
  display: grid;
  position: relative;
}

.banner {
  background-image: url(./assets/Banner.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 76px;
  display: grid;
  grid-template-columns: 167px 549px 1fr 1fr;
}

.logo {
  padding-left: 72px;
  padding-top: 27px;
}

.titleContainer {
  padding-top: 46px;
  margin-left: 16px;
}

.titleContainer .title {
  color: var(--darkBlue);
  font-weight: 700;
  font-size: 28px;
  line-height: 33.89px;
}

.titleContainer .subtitle {
  color: var(--black);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.3px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 25px;
  margin-top: 51px;
  color: #303463;
  text-align: center;
  cursor: pointer;
}

.nav li {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  padding: 8px 15px 5px 14px;
}

.tab {
  background-color: white;
  width: 75px;
  height: 25px;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0px -2px 4px rgba(48, 52, 99, 0.25);
}

.item4 {
  background-color: green;
}
