.actionBtn {
  /* Define row height */
  margin: var(--size4) 0;

  width: min-content;
  height: var(--size32);
}

.btnContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: var(--size16);
}

.btn {
  /* RESET MARGINS from PrimaryButton */
  margin: 0;
}

.confirmBtn {
  font-weight: bold;
}

.notYetBtn {
  background-color: var(--red);
  font-weight: bold;
}
