.passwordAid {
  margin-left: var(--size40);
}

.passwordToggle {
  border: none;
  padding: 0;
  margin-top: var(--size4);
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}
