.mapContainer {
  height: 80vh;
  width: 80vw;
  pointer-events: none;
  margin: auto;
}

.mapWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  pointer-events: all;
  cursor: pointer;
}

#map-svg {
  border: 2px solid green;
  pointer-events: all;
}

.mapData {
  width: 100%;
  height: 100%;
}

.mapGeoShape.state {
  fill: var(--darkBlue);
  stroke: var(--lightBlue);
  stroke-width: 7;
  stroke-linejoin: round;
  cursor: pointer;
  pointer-events: all;
}

.mapButton {
  position: absolute;
  top: 4em;
  left: 3em;
  pointer-events: all;
  cursor: pointer;
}

.tooltipDiv {
  position: absolute;
  width: 200px;
  height: fit-content;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #666;
  left: 10px;
  top: 10px;
  pointer-events: none;
  box-shadow: 4px 4px 6px #6665;
}

.tooltipText {
  font-size: 14px;
  color: blue;
  text-align: center;
  text-anchor: middle;
  margin: 1em;
}

#zoom-container {
  stroke: blueviolet;
  stroke-width: 4px;
  pointer-events: all;
}

.markerLayer {
  pointer-events: none;
  cursor: grab;
}

.circleMarker,
.squareMarker {
  pointer-events: all;
  cursor: grab;
}
