.formItem {
  margin-top: var(--size4);
}

.textDestructive {
  color: var(--red);
}

.formDescription {
  font-size: var(--size16);
}

.formMessage {
  font-size: var(--size16);
  font-weight: 500;
  color: var(--red);
}
