.ppWrapper {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: var(--size512);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  max-width: fit-content;
  margin: 0 auto;
  margin-top: var(--size16);
}

.ppParaWrapper {
  align-self: center;
}

.ppForm {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "address address address"
    "city state zip"
    "textarea textarea textarea"
    ". button ."
    ". redirect .";

  justify-items: center;
  margin: 0 auto;
  width: 100%;
}

.ppAddress {
  grid-area: address;
}

.button {
  grid-area: button;
}

.city {
  grid-area: city;
}

.ppState {
  grid-area: state;
}

.ppZip {
  grid-area: zip;
}

.ppTextarea {
  grid-area: textarea;
}

.ppHeading {
  color: var(--darkBlue);
  margin-bottom: var(--size16);
  text-align: center;
}

.ppLabel {
  color: var(--darkBlue);
  font-weight: 500;
  margin-right: var(--size16);
  margin-bottom: var(--size8);
}

.ppAddInput {
  width: var(--size384);
}

.cityInput {
  width: var(--size192);
}

.zipInput {
  width: var(--size112);
}

.ppTextarea {
  width: var(--size384);
}

.ppPara {
  margin-bottom: var(--size8);
}

.ppRedirect {
  font-size: var(--size14);
  grid-area: redirect;
}

@media (max-width: 551px) {
  .form {
    grid-template-areas:
      "address address address"
      "city state ."
      ". zip ."
      "textarea textarea textarea"
      ". button ."
      ". redirect .";
  }
}
