.dataTable {
  border-collapse: collapse;
  margin-top: var(--size36);
  width: 100vw;
}

.dataFooter,
.dataHeader,
.dataRows {
  border-bottom: 3px solid black;
  height: var(--size36);
  text-align: center;
}

.dataFooter,
.dataHeader {
  background-color: var(--lightBlue);
}

.dataRows:nth-child(odd) {
  background-color: #b1cfe7;
}

/* The below webkit rules are to remove the number input arrows */
.dataRowPage {
  -moz-appearance: textfield;
  padding: var(--size4);
  border: none;
}

.dataRowPage::-webkit-outer-spin-button,
.dataRowPage::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
