.input {
  display: flex;
  height: var(--size40);
  width: 100%;
  border: 1px solid #000;
  border-radius: var(--size4);
  background-color: var(--white);
  padding: var(--size4) var(--size8);
  font-size: var(--size16);
}

.input[type="file"] {
  border: none;
  background-color: transparent;
}

.input::placeholder {
  color: var(--grey);
}

.input:focus-visible {
  outline: none;
  box-shadow: var(--size-4) 0 0 0 calc(2px + var(--size-4)) #000;
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
