.showdata {
  pointer-events: none;
}

.mapContainer {
  position: relative;
  pointer-events: none;
  pointer-events: all;
  z-index: 10;
  margin: auto;
  overflow: hidden;
}

.gridSettings {
  position: relative;
  display: grid;
  grid-template-rows: var(--size96) var(--size96) auto var(--size96) var(--size96);
  grid-template-columns: var(--size96) auto var(--size96);
}

.svgWrapper {
  grid-column: 2;
  grid-row: 2 / 6;
  overflow: hidden;
}

.mapCityPoint {
  fill: var(--linkBlue);
  cursor: pointer;
  pointer-events: all;
  fill-opacity: 0.8;
  pointer-events: all;
  cursor: pointer;
}

.mapGeoShape.state {
  stroke: var(--lightBlue);
  fill: var(--lightBlue);
  stroke-width: 1;
  cursor: pointer;
  pointer-events: all;
}

.circleMarker {
  pointer-events: all;
  cursor: pointer;
  fill: var(--lightBlue);
  fill-opacity: 0.9;
  mix-blend-mode: lighten;
  transform: scale(1);
  transition: transform 500ms 500ms ease;
}

.mapButton {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  grid-column: 2;
  grid-row: 3;
}

.mapClickZone {
  fill: green;
  fill-opacity: 0;
  pointer-events: all;
  cursor: grab;
  height: 100%;
  width: 100%;
}
