.mapContainer {
  position: relative;
  height: calc(100vh - var(--size160));
  width: 50%;
  pointer-events: none;
  pointer-events: all;
  z-index: 10;
  margin: auto;
  outline: 5px solid orange;
}

.gridSettings {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: 5px solid green;
}

.mapWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: 5px solid yellow;
}

.mapData {
  position: absolute;
  /* pointer-events: none; */
  width: 100%;
  height: 100%;
}

.mapCityPoint {
  fill: var(--lightBlue);
  cursor: pointer;
  pointer-events: all;
  fill-opacity: 0.8;
  pointer-events: all;
  cursor: pointer;
}

.mapGeoShape.state {
  stroke: var(--lightBlue);
  fill: var(--lightBlue);
  stroke-width: 1;
  cursor: pointer;
  pointer-events: all;
}

.circleMarker {
  pointer-events: all;
  cursor: pointer;
  fill: var(--lightBlue);
  fill-opacity: 0.9;
  mix-blend-mode: lighten;
  transform: scale(1);
  transition: transform 500ms 500ms ease;
}

.mapButton {
  position: absolute;
  pointer-events: all;
  cursor: pointer;
  grid-column: 2;
  grid-row: 3;
}

.mapClickZone {
  fill: green;
  fill-opacity: 0;
  pointer-events: all;
  cursor: grab;
  height: 100%;
  width: 100%;
}
