.category {
  font-size: var(--size14);
  color: #666666;
  margin-left: 0;
  font-weight: 400;
}

.data {
  margin-right: 1rem;
  margin: 0.4rem 0;
  width: 100%;
}

.viewWrapper {
  display: flex;
  width: 40%;
}

/* For devices with screen width less than 600px */
@media (max-width: 600px) {
  .data {
    margin-right: 0.5rem;
    margin: 0.2rem 0; /* Adjusted margin for better spacing on mobile */
  }

  .viewWrapper {
    flex-direction: column;
  }

  .category {
    margin-bottom: 0.2rem; /* Added margin-bottom for better spacing on mobile */
  }
}
