.wrapper {
  margin: var(--size16);
  display: flex;
}

.idAndStop {
  margin: var(--size16);
  flex: 3;
}

.stopType {
  font-size: var(--size32);
}

.data {
  margin: var(--size16);
  flex: 1;
}

.category {
  font-size: var(--size12);
  color: var(--grey);
}
