.passwordAid {
  margin-left: var(--size24);
}

.passwordToggle {
  border: none;
  padding: 0;
  margin-top: var(--size4);
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 32em) {
  .passwordAid {
    max-width: 60vw;
  }
}
