.responseContainer {
  display: flex;
  flex-direction: column;
  width: var(--size424);
}

.responseContainer label {
  font-size: var(--size16);
  font-weight: 600;
  margin-left: var(--size4);
}

.responseContainer textarea {
  border: 1px solid black;
  border-radius: var(--size4);
}

.responseError textarea {
  border: 2px solid var(--red);
}

.responseSubtext {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: var(--size16);
}
