.notificationsContainer {
  flex: 1;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  font-size: var(--size28);
  font-weight: bold;
  color: var(--darkBlue);
}

.headerCTA {
  /* Get rid of default margins */
  margin: 0;

  min-width: max-content;
  font-size: var(--size16);
  font-weight: bold;
}

.actionBtn {
  /* Define row height */
  margin: var(--size4) 0;

  width: min-content;
  height: var(--size32);
}
