.userTableContainer {
  margin-top: 100px;
  margin-left: 50px;
}
.table {
  border-collapse: collapse;
  border-radius: 10px;
  width: 200%;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #7caed7;
  padding: 20px;
  border-color: #7caed7;
}

.bottom_cell {
  background-color: #7caed7;
  padding: 20px;
  border-color: #7caed7;
}
