
.mobileNav {
    bottom: 0;
    z-index: 10;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.4);
    
}

.ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.li {
    padding: 1rem;
    list-style: none;
    font-family: var(--font-inter);
}