@import "./variables.css";

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
details:focus-visible,
[tabindex]:not([tabindex="-1"]):focus-visible {
  outline: 1px dashed black;
  outline-offset: var(--size4);
}

.screenReaderOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
