.primaryButton {
  display: block;
  margin: var(--size16) auto;
  height: var(--size40);
  width: var(--size96);
  border: none;
  border-radius: var(--size4);
  background-color: var(--darkBlue);
  color: white;
  font-size: var(--size16);
  font-weight: 500;
  cursor: pointer;
}

.primaryButton:focus,
.primaryButton:hover {
  -webkit-box-shadow: var(--insetShadow);
  box-shadow: var(--insetShadow);
}

#show-data {
  pointer-events: none;
}

.map-city-point {
  fill: var(--linkBlue);
  cursor: pointer;
  pointer-events: all;
  fill-opacity: 0.8;
  pointer-events: all;
  cursor: pointer;
}

.map-geo-shape.state {
  stroke: var(--grey);
  fill: var(--darkBlue);
  stroke-width: 1;
  cursor: pointer;
  pointer-events: all;
}

#map-background {
  background-color: #7caed725;
  pointer-events: none;
}

.map-perimeter-outline {
  height: 100%;
  width: 100%;
  z-index: 10;
  fill: transparent;
  stroke-width: 2px;
  stroke: lightgray;
}

.circle-marker {
  pointer-events: all;
  cursor: pointer;
  transition: all 500ms ease;
}
