.enrollmentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: var(--size512);
  max-width: 90vw;
  margin: 0 auto var(--size24);
  font-size: var(--size12);
}

.primaryButton {
  display: block;
  margin: var(--size16) auto;
  height: var(--size40);
  width: var(--size96);
  border: none;
  border-radius: var(--size4);
  background-color: var(--darkBlue);
  color: white;
  font-size: var(--size16);
  font-weight: 500;
  cursor: pointer;
}

.primaryButton:focus,
.primaryButton:hover {
  -webkit-box-shadow: var(--insetShadow);
  box-shadow: var(--insetShadow);
}
