:root {
  --darkBlue: rgb(48, 52, 99);
  --lightBlue: #7caed7;
  --grey: #666666;
  --red: #bf1212;
  --linkBlue: #0645ad;
  --white: #ffffff;

  --insetShadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  --boxShadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --tabletMin: 550;
  --laptopMin: 1100;
  --desktopMin: 1500;

  /* Use this scale for a sizing that scales consistently */
  --size4: 0.25rem;
  --size6: 0.375rem;
  --size8: 0.5rem;
  --size10: 0.625rem;
  --size12: 0.75rem;
  --size14: 0.875rem;
  --size16: 1rem;
  --size20: 1.25rem;
  --size24: 1.5rem;
  --size28: 1.75rem;
  --size32: 2rem;
  --size36: 2.25rem;
  --size40: 2.5rem;
  --size44: 2.75rem;
  --size48: 3rem;
  --size52: 3.25rem;
  --size56: 3.5rem;
  --size64: 4rem;
  --size72: 4.5rem;
  --size80: 5rem;
  --size96: 6rem;
  --size100: 6.25rem;
  --size112: 7rem;
  --size128: 8rem;
  --size160: 10rem;
  --size192: 12rem;
  --size200: 12.5rem;
  --size232: 14.5rem;
  --size256: 16rem;
  --size384: 24rem;
  --size424: 26.5rem;
  --size512: 32rem;
  --size640: 40rem;
  --size768: 48rem;
}
