.dataTable {
  border-collapse: collapse;
  margin-top: var(--size36);
  width: 100vw;
}

.dataFooter,
.dataHeader,
.dataRows {
  border-bottom: 3px solid black;
  height: var(--size36);
  text-align: center;
}

.dataFooter,
.dataHeader {
  background-color: var(--lightBlue);
}

.dataRows:nth-child(odd) {
  background-color: rgba(124, 174, 215, 0.5);
}

.dataRowPage {
  border: 1px solid black;
  padding: var(--size4);
}
