.dTable {
  width: 100vw;
}

.dTableWrapper {
}

.dHeader {
  background-color: var(--lightBlue);
  border-top: 3px solid black;
}

.dFooter {
  border-bottom: 3px solid black;
  background-color: var(--lightBlue);
}

.dRowPage {
  border: 1px solid black;
  padding: var(--size4);
}
