.dataTable {
  border-collapse: collapse;
  margin-top: var(--size36);
  width: 100%;
}

.dataFooter,
.dataHeader,
.dataRows {
  border-bottom: 3px solid black;
  height: var(--size36);
  text-align: center;
}

.dataFooter,
.dataHeader {
  background-color: var(--lightBlue);
}

.dataRows:nth-child(odd) {
  background-color: #b1cfe7;
}

/* The below webkit rules are to remove the number input arrows */
.dataRowPage {
  -moz-appearance: textfield;
  padding: var(--size4);
  border: none;
}

.dataRowPage::-webkit-outer-spin-button,
.dataRowPage::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.actionBtn {
  cursor: pointer;
}

.sortArrow {
  margin-left: 0.3rem;
}

.colFliter {
  margin: 0.1rem;
}

.pageBtn {
  margin: 0 1rem;
}

.tableWrapper {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: var(--size10);
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.tableTitle {
  text-align: left;
  margin-right: var(--size36);
  color: #7caed7;
  font-weight: bold;
  font-size: var(--size18);
}

.editButton,
.editButtonOn {
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #303463;
  font-size: var(--size12);
  font-weight: bold;
  cursor: pointer;
}
.editButton {
  background-color: var(--darkBlue);
  color: white;
}
.editButtonOn {
  background-color: var(--lightBlue);
  color: var(--darkBlue);
}

.expandRecordButton {
  cursor: pointer;
}

.dataFooter,
.dataHeader,
.dataRows {
  border-bottom: 3px solid black;
  height: var(--size36);
  text-align: center;
}

.dataFooter,
.dataHeader {
  background-color: var(--lightBlue);
}

.dataRows:nth-child(odd) {
  background-color: #b1cfe7;
}

/* The below webkit rules are to remove the number input arrows */
.dataRowPage {
  -moz-appearance: textfield;
  padding: var(--size4);
  border: none;
}

.dataRowPage::-webkit-outer-spin-button,
.dataRowPage::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
