.searchResultsContainer {
  margin-top: var(--size24);
}

.searchResultsHeader {
  text-align: center;
}

/* 1120px */
@media screen and (min-width: 70em) {
  .searchResultsContainer {
    flex: 1;
    margin-top: 0;
  }

  .searchResultsHeader {
    display: none;
  }
}
